.appWrapper {
	margin: 40px 0;
	display: inline-block;
}

.posterImg {
	height: 245px;
	display: inline-block;
}

.posterImg img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.goBack p{
	text-align:center;
	color: #29abe2;
	margin:10px 0;
}

.movieContent {
	text-align: center;
}

.filmBlock {
	border-radius: 4px;
	height: 300px;
	margin: 15px 0;
	vertical-align: middle;
}

.filmTitle {
	padding: 20px 0;
	margin: 0;
	text-align: center;
	font-weight: bold;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
  border: 1px solid;
  border-top: none;
}